In [1]:
import pandas as pd
df = pd.read_excel("../data/mtcars.xlsx")

In [3]:
df.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [4]:
# https://www.kaggle.com/datasets/syedasimalishah/marvel-chracters
df = pd.read_csv("../data/Marvel Movies.csv")

In [7]:
df.columns
df['ALIGN'].unique()

array(['Good Characters', 'Neutral Characters', 'Bad Characters', nan],
      dtype=object)

In [12]:
df.groupby('ALIGN').count()

,name,ID,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
ALIGN,,,,,,,,,,
Bad Characters,6720,5152,2451,4943,6334,9,6720,6352,6450,6450
Good Characters,4636,3898,2293,3691,4514,54,4636,4310,4366,4366
Neutral Characters,2208,1916,1057,1761,2094,17,2208,2093,2073,2073