# Pandas
-----
## 03. 데이터 로딩 및 저장

### CSV 파일
- CSV (Comma Separated Values)
    - 데이터를 쉼표(,)로 구분하여 저장하는 간단한 텍스트 파일 형식
    - 각 줄은 데이터 레코드를 나타내며, 각 열은 해당 레코드의 속성을 의미
    - 첫 번째 줄은 열 이름(헤더)으로 사용됩니다.
    - 데이터 교환과 공유를 위해 널리 사용되며 스프레드시트 프로그램에서도 지원


### CSV 파일 다루기
- CSV 파일 불러오기 : read_csv

In [2]:
import pandas as pd

# CSV 파일을 읽어와서 DataFrame 객체로 만들기
# thieves_df = pd.read_csv("../data/thieves.txt")
# thieves_df = pd.read_csv("../data/thieves.txt", sep="\t")
# thieves_df = pd.read_csv("../data/thieves.txt", sep="\t", header=None)
thieves_df = pd.read_csv("../data/thieves.txt", sep="\t", header=None, index_col=0)

# 데이터 프레임의 컬럼 명을 바꿔봅니다.
thieves_df.columns  = ["Height", "Weight"]
# 데이터프레임 인덱스의 이름을 바꿔 봅니다.
thieves_df.index.name = "Name"

print(thieves_df)

      Height  Weight
Name
홍길동    175.8    73.2
전우치    170.2    66.3
임꺽정    186.7    88.2
장길산    188.3    90.0

- CSV 파일로 저장하기 : to_csv

In [3]:
import pandas as pd
import os
if not os.path.exists("../generated"):
    os.makedirs("../generated")
thieves_df.to_csv("../generated/thieves.csv", encoding="utf-8")

### Excel 파일
- Excel 파일 다루기
    - Excel 파일 불러오기 : read_excel
    - Excel 파일로 저장하기 : to_excel

In [4]:
import pandas as pd

# Excel 파일을 읽어와서 DataFrame 객체로 만들기
xl_df = pd.read_excel("../data/mtcars.xlsx")
xl_df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [5]:
import os

if not os.path.exists("../generated"):
    os.makedirs("../generated")

xl_df.to_excel("../generated/mtcars2.xlsx", sheet_name="엑셀 저장 테스트")

### 데이터베이스 다루기
- 데이터베이스에 데이터프레임 저장하기 : to_sql

In [6]:
import pandas as pd
import sqlite3
import os

mtcars = pd.read_excel("../data/mtcars.xlsx")

dbdir = "../database"

if not os.path.exists(dbdir):
    os.makedirs(dbdir)
    
# sqlite 데이터베이스 파일 생성 또는 연결
conn = sqlite3.connect("../database/example.db")

# 데이터프레임을 SQLite 데이터베이스의 테이블로 저장하기
mtcars.to_sql("mtcars", conn, if_exists="replace")

# SQLite 데이터베이스 접속 종료
conn.close()

- 데이터베이스에서 데이터프레임 읽어오기 : read_sql

In [7]:
import pandas as pd
import sqlite3

# 데이터베이스에 접속
conn = sqlite3.connect("../database/example.db")

# SQL 쿼리 결과를 데이터프레임으로 설정
query = "SELECT * FROM mtcars"
dataframe = pd.read_sql(query, conn)

dataframe

,index,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2