# Pandas
-----
## 05. 데이터 정렬과 순위
### 데이터 정렬
- sort_index() : 인덱스를 기준으로 정렬
- sort_value() : 데이터 값을 기준으로 정렬
#### sort_index()

In [8]:
import pandas as pd

# generated/pivot_table.csv를 기준으로 연습
df = pd.read_csv('../data/household_accounts.csv', index_col=0)
df

df_sorted = df.sort_index(ascending=False)
df_sorted

            카테고리      금액
날짜
2023-06-30    미용   20100
2023-06-30   자동차  115500
2023-06-30    병원   98700
2023-06-29    외식   35600
2023-06-29    기부   19700
...          ...     ...
2023-01-02  대중교통    1500
2023-01-01    운동   84900
2023-01-01   데이트  114600
2023-01-01    기부   29800
2023-01-01    마트   97300

[543 rows x 2 columns]

#### sort_values()

In [21]:
df.sort_values(by='금액', ascending=False)

df_daily = df.groupby('날짜')['금액'].sum()
df_daily

df_daily.sort_values(ascending=False)

날짜
2023-01-15    1900500
2023-04-15    1429500
2023-01-10     707700
2023-02-12     536000
2023-06-10     520500
               ...
2023-04-09       1700
2023-01-21       1700
2023-06-18       1600
2023-01-19       1400
2023-04-21       1300
Name: 금액, Length: 181, dtype: int64

### 데이터 순위
#### rank
- rank 메서드
- 동점이 있을 때 순위를 결정
- 일반적인 순위 지정 방법
    - average (default)
        - 동점이 있을 경우, 동점 요소에 평균 순위를 할당
    - min
        - 동점이 있을 경우, 동점 요소 중 최소 순위를 할당
    - max
        - 동점이 있을 경우, 동점 요소 중 최대 순위를 할당
    - first
        - 데이터프레임 내의 위치에 따라 순위를 할당
    - dense
        - min과 비슷하지만 같은 순위를 건너뛰지 않고 순위를 1씩 증가시킴

In [25]:
# 제공된 코드
import pandas as pd

data = {'Score': [85, 92, 78, 95, 88, 92]}
df = pd.DataFrame(data)
# /제공된 코드

# 기본값 (average)
df['rank_average'] = df['Score'].rank(ascending=False)
df['rank_min'] = df['Score'].rank(ascending=False, method='min')
df['rank_max'] = df['Score'].rank(ascending=False, method='max')
df['rank_first'] = df['Score'].rank(ascending=False, method='first')
df['rank_dense'] = df['Score'].rank(ascending=False, method='dense')

df

   Score  rank_average  rank_min  rank_max  rank_first  rank_dense
0     85           5.0       5.0       5.0         5.0         4.0
1     92           2.5       2.0       3.0         2.0         2.0
2     78           6.0       6.0       6.0         6.0         5.0
3     95           1.0       1.0       1.0         1.0         1.0
4     88           4.0       4.0       4.0         4.0         3.0
5     92           2.5       2.0       3.0         3.0         2.0

In [30]:
# 제공된 코드
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 95, 88],
    'Age': [25, 34, 19, 28, 22],
    'Height': [165, 178, 155, 172, 168]
}

df = pd.DataFrame(data)
df
# /제공된 코드

# Score 열을 기준으로 순위를 포함하는 Score_Rank 변수를 파생
df['Score_Rank'] = df['Score'].rank(ascending=False)
df.sort_values(by='Score_Rank', inplace=True)
df

      Name  Score  Age  Height  Score_Rank
3    David     95   28     172         1.0
1      Bob     92   34     178         2.0
4      Eva     88   22     168         3.0
0    Alice     85   25     165         4.0
2  Charlie     78   19     155         5.0